.header{
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  margin:  5%;
  color: $light-yellow;
  cursor: pointer;
}

.subheader{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: $light-yellow;
  cursor: pointer;
}

.subheaderClicked{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: $red;
  cursor: pointer;
}
