@mixin header{
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: $light-yellow;
  cursor: pointer;
}

.header{
  @include header
}

.subheader{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  display: inline-block;
  color: $light-yellow;
  cursor: pointer;
}

p {
  display: inline-block;
}

.subheaderClicked{
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: $red;
  cursor: pointer;
}

.subheaders--section{
  display: flex;
  flex-direction: column;
  
}
